{% extends 'main.html' %}

{% block body %}
<form action="add_bug" method="POST"> {% csrf_token %}
  Name: <input type="text" name="name"><br>
  Description: <input type="text" name="desc"><br>
  <input type="submit">
</form>

<div id="tables">
    <table>
      <tbody>
        <tr>
          <th>Open Bugs</th>
        </tr>
        {% for bug in openBug %}
        <tr>
          <td>{{bug}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table>
      <tbody>
        <tr>
          <th>In Progress</th>
        </tr>
        {% for bug in progressBug %}
        <tr>
          <td>{{bug}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table>
      <tbody>
        <tr>
          <th>Fixed Bugs</th>
        </tr>
        {% for bug in fixedBug %}
        <tr>
          <td>{{bug}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}